# Exporatory Data Analysis

In [1]:
from sqlalchemy import create_engine, text

In [2]:
import pandas as pd

In [3]:
engine = create_engine("mysql+pymysql://root:Root123@localhost/inventoryvendordb")

with engine.connect() as connection:
    result = connection.execute(text("SELECT DATABASE();"))
    print(f"Connected to: {result.scalar()}")

Connected to: inventoryvendordb

In [4]:
conn = engine.connect()

In [5]:
tables = pd.read_sql_query("SHOW TABLES;", conn)
tables

  Tables_in_inventoryvendordb
0             begin_inventory
1               end_inventory
2             purchase_prices
3                   purchases
4                       sales
5              vendor_invoice
6        vendor_sales_summary

In [6]:
for table_name in tables.iloc[:, 0]:
    rows = pd.read_sql(f"SELECT COUNT(*) FROM {table_name}", conn)
    print(table_name, rows)

begin_inventory    COUNT(*)
0    206529
end_inventory    COUNT(*)
0    224489
purchase_prices    COUNT(*)
0     12261
purchases    COUNT(*)
0   2372474
sales    COUNT(*)
0  12825363
vendor_invoice    COUNT(*)
0      5543
vendor_sales_summary    COUNT(*)
0     10692

In [7]:
for table_name in tables.iloc[:, 0]:
    print(f"\n--- Rows from table: {table_name} ---")
    rows_df = pd.read_sql_query(text(f"SELECT * FROM `{table_name}`"), conn)
    display(rows_df)

--- Rows from table: begin_inventory ---

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,startDate
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,8,12.99,2024-01-01
1,1_HARDERSFIELD_60,1,HARDERSFIELD,60,Canadian Club 1858 VAP,750mL,7,10.99,2024-01-01
2,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,6,36.99,2024-01-01
3,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,3,38.99,2024-01-01
4,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL,6,34.99,2024-01-01
...,...,...,...,...,...,...,...,...,...
206524,79_BALLYMENA_46985,79,BALLYMENA,46985,Rodney Strong Cab Svgn Alexa,750mL,13,22.99,2024-01-01
206525,79_BALLYMENA_47014,79,BALLYMENA,47014,Juan Gil Jumilla Rd,750mL,13,13.99,2024-01-01
206526,79_BALLYMENA_47090,79,BALLYMENA,47090,Napa Cellars Cab Svgn Napa,750mL,19,23.99,2024-01-01
206527,79_BALLYMENA_90011,79,BALLYMENA,90011,Ch Pichon Longville 12 Pauil,750mL,12,144.99,2024-01-01
206528,79_BALLYMENA_90089,79,BALLYMENA,90089,Ch Lynch Bages 12 Pauillac,750mL,24,119.99,2024-01-01

--- Rows from table: end_inventory ---

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,endDate
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,11,12.99,2024-12-31
1,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,7,36.99,2024-12-31
2,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,7,38.99,2024-12-31
3,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL,4,34.99,2024-12-31
4,1_HARDERSFIELD_75,1,HARDERSFIELD,75,Three Olives Tomato Vodka,750mL,7,14.99,2024-12-31
...,...,...,...,...,...,...,...,...,...
224484,81_PEMBROKE_90087,81,PEMBROKE,90087,Ch Mouton Rothschild 12 Paui,750mL,3,469.99,2024-12-31
224485,81_PEMBROKE_90088,81,PEMBROKE,90088,Ch Le Petite Mouton 12 Pauil,750mL,3,134.99,2024-12-31
224486,81_PEMBROKE_90089,81,PEMBROKE,90089,Ch Lynch Bages 12 Pauillac,750mL,3,119.99,2024-12-31
224487,81_PEMBROKE_90090,81,PEMBROKE,90090,Ch Lafite Rothschild 12,750mL,3,649.99,2024-12-31
224488,81_PEMBROKE_90604,81,PEMBROKE,90604,Ch Lynch Bages Pauilac,750mL,2,119.99,2024-12-31

--- Rows from table: purchase_prices ---

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName
0,58,Gekkeikan Black & Gold Sake,12.99,750mL,750,1,9.28,8320,SHAW ROSS INT L IMP LTD
1,62,Herradura Silver Tequila,36.99,750mL,750,1,28.67,1128,BROWN-FORMAN CORP
2,63,Herradura Reposado Tequila,38.99,750mL,750,1,30.46,1128,BROWN-FORMAN CORP
3,72,No. 3 London Dry Gin,34.99,750mL,750,1,26.11,9165,ULTRA BEVERAGE COMPANY LLP
4,75,Three Olives Tomato Vodka,14.99,750mL,750,1,10.94,7245,PROXIMO SPIRITS INC.
...,...,...,...,...,...,...,...,...,...
12256,44917,Ferreira 10-Yr Tawny Port,24.99,750mL,750,2,16.55,90024,VINILANDIA USA
12257,44944,Sanford Santa Rita Pnt Nr,22.99,750mL,750,2,14.93,4425,MARTIGNETTI COMPANIES
12258,45016,Neal One Lane Bridg Cab Svgn,93.99,750mL,750,2,61.43,10754,PERFECTA WINES
12259,46011,Folonari Pnt Nr Venezie,12.99,1500ml,1500,2,8.90,9744,FREDERICK WILDMAN & SONS
12260,46964,Calera Viognier Mt Harlan,35.99,750mL,750,2,24.32,10754,PERFECTA WINES

--- Rows from table: purchases ---

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification
0,69_MOUNTMEND_8412,69,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,8124,2023-12-21,2024-01-02,2024-01-04,2024-02-16,35.71,6,214.26,1
1,30_CULCHETH_5255,30,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,4,37.40,1
2,34_PITMERDEN_5215,34,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-02,2024-01-07,2024-02-21,9.41,5,47.05,1
3,1_HARDERSFIELD_5255,1,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,6,56.10,1
4,76_DONCASTER_2034,76,2034,Glendalough Double Barrel,750mL,388,ATLANTIC IMPORTING COMPANY,8169,2023-12-24,2024-01-02,2024-01-09,2024-02-16,21.32,5,106.60,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2372469,49_GARIGILL_22298,49,22298,Zorvino Vyds Sangiovese,750mL,90058,ZORVINO VINEYARDS,13593,2024-12-19,2024-12-28,2025-01-09,2025-02-06,8.06,12,96.72,2
2372470,1_HARDERSFIELD_19556,1,19556,Zorvino Bacca Z Blackberry,750mL,90058,ZORVINO VINEYARDS,13593,2024-12-19,2024-12-27,2025-01-09,2025-02-06,9.39,12,112.68,2
2372471,66_EANVERNESS_22297,66,22297,Zorvino Vyds Pearz,750mL,90058,ZORVINO VINEYARDS,13593,2024-12-19,2024-12-26,2025-01-09,2025-02-06,6.75,12,81.00,2
2372472,69_MOUNTMEND_19557,69,19557,Zorvino Fragole Z Strawberry,750mL,90058,ZORVINO VINEYARDS,13593,2024-12-19,2024-12-26,2025-01-09,2025-02-06,9.39,12,112.68,2
2372473,55_DRY GULCH_22298,55,22298,Zorvino Vyds Sangiovese,750mL,90058,ZORVINO VINEYARDS,13593,2024-12-19,2024-12-28,2025-01-09,2025-02-06,8.06,12,96.72,2

--- Rows from table: sales ---

,InventoryId,Store,Brand,Description,Size,SalesQuantity,SalesDollars,SalesPrice,SalesDate,Volume,Classification,ExciseTax,VendorNo,VendorName
0,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,2024-01-01,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
1,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,2,32.98,16.49,2024-01-02,750.0,1,1.57,12546,JIM BEAM BRANDS COMPANY
2,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,2024-01-03,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
3,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,14.49,14.49,2024-01-08,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
4,1_HARDERSFIELD_1005,1,1005,Maker's Mark Combo Pack,375mL 2 Pk,2,69.98,34.99,2024-01-09,375.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12825358,9_BLACKPOOL_984,9,984,Patron XO Cafe Liqueur,750mL,1,25.99,25.99,2024-12-17,750.0,1,0.79,9165,ULTRA BEVERAGE COMPANY LLP
12825359,9_BLACKPOOL_984,9,984,Patron XO Cafe Liqueur,750mL,1,25.99,25.99,2024-12-21,750.0,1,0.79,9165,ULTRA BEVERAGE COMPANY LLP
12825360,9_BLACKPOOL_984,9,984,Patron XO Cafe Liqueur,750mL,3,77.97,25.99,2024-12-23,750.0,1,2.36,9165,ULTRA BEVERAGE COMPANY LLP
12825361,9_BLACKPOOL_984,9,984,Patron XO Cafe Liqueur,750mL,1,25.99,25.99,2024-12-24,750.0,1,0.79,9165,ULTRA BEVERAGE COMPANY LLP
12825362,9_BLACKPOOL_984,9,984,Patron XO Cafe Liqueur,750mL,2,51.98,25.99,2024-12-29,750.0,1,1.57,9165,ULTRA BEVERAGE COMPANY LLP

--- Rows from table: vendor_invoice ---

,VendorNumber,VendorName,InvoiceDate,PONumber,PODate,PayDate,Quantity,Dollars,Freight,Approval
0,105,ALTAMAR BRANDS LLC,2024-01-04,8124,2023-12-21,2024-02-16,6,214.26,3.47,None
1,4466,AMERICAN VINTAGE BEVERAGE,2024-01-07,8137,2023-12-22,2024-02-21,15,140.55,8.57,None
2,388,ATLANTIC IMPORTING COMPANY,2024-01-09,8169,2023-12-24,2024-02-16,5,106.60,4.61,None
3,480,BACARDI USA INC,2024-01-12,8106,2023-12-20,2024-02-05,10100,137483.78,2935.20,None
4,516,BANFI PRODUCTS CORP,2024-01-07,8170,2023-12-24,2024-02-12,1935,15527.25,429.20,None
...,...,...,...,...,...,...,...,...,...,...
5538,9622,WEIN BAUER INC,2025-01-06,13626,2024-12-21,2025-02-10,90,1563.00,8.60,None
5539,9625,WESTERN SPIRITS BEVERAGE CO,2025-01-10,13661,2024-12-23,2025-02-18,4617,37300.48,186.50,None
5540,3664,WILLIAM GRANT & SONS INC,2025-01-02,13643,2024-12-22,2025-02-04,9848,202815.78,932.95,None
5541,9815,WINE GROUP INC,2025-01-03,13602,2024-12-20,2025-02-08,24747,149007.56,819.54,None
5542,90058,ZORVINO VINEYARDS,2025-01-05,13574,2024-12-18,2025-02-12,437,3608.11,16.60,None

--- Rows from table: vendor_sales_summary ---

,VendorNumber,VendorName,Brand,PurchasePrice,ActualPrice,Volume,TotalPurchaseQuantity,TotalPurchaseDollar,TotalSalesQuantity,TotalSalesDollars,TotalSalesPrice,TotalExcixeTax,FreightCost,GrossProfit,ProfitMargin,StockTurnover,SalesToPurchaseratio
0,1128,BROWN-FORMAN CORP,1233,26.27,36.99,1750.0,145080,3811251.60,142049,5.101920e+06,672819.31,260999.20,68601.68,1290667.91,25.297693,0.979108,1.338647
1,4425,MARTIGNETTI COMPANIES,3405,23.19,28.99,1750.0,164038,3804041.22,160247,4.819073e+06,561512.37,294438.66,144929.24,1015032.27,21.062810,0.976890,1.266830
2,17035,PERNOD RICARD USA,8068,18.24,24.99,1750.0,187407,3418303.68,187140,4.538121e+06,461140.15,343854.07,123780.22,1119816.92,24.675786,0.998575,1.327594
3,3960,DIAGEO NORTH AMERICA INC,4261,16.17,22.99,1750.0,201682,3261197.94,200412,4.475973e+06,420050.01,368242.80,257032.07,1214774.94,27.139908,0.993703,1.372493
4,3960,DIAGEO NORTH AMERICA INC,3545,21.89,29.99,1750.0,138109,3023206.01,135838,4.223108e+06,545778.28,249587.83,257032.07,1199901.61,28.412764,0.983556,1.396897
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10687,9815,WINE GROUP INC,8527,1.32,4.99,750.0,2,2.64,5,1.595000e+01,10.96,0.55,27100.41,13.31,83.448276,2.500000,6.041667
10688,8004,SAZERAC CO INC,5683,0.39,0.49,50.0,6,2.34,134,6.566000e+01,1.47,7.04,50293.62,63.32,96.436186,22.333333,28.059829
10689,3924,HEAVEN HILL DISTILLERIES,9123,0.74,0.99,50.0,2,1.48,2,1.980000e+00,0.99,0.10,14069.87,0.50,25.252525,1.000000,1.337838
10690,3960,DIAGEO NORTH AMERICA INC,6127,1.47,1.99,200.0,1,1.47,72,1.432800e+02,77.61,15.12,257032.07,141.81,98.974037,72.000000,97.469388
10691,7245,PROXIMO SPIRITS INC.,3065,0.71,0.99,50.0,1,0.71,86,8.514000e+01,33.66,4.46,38994.78,84.43,99.166079,86.000000,119.915493

- The purchases table contains actual purchase data, including data of purchase, products (brands) purchased by vendor, amount paid (in dollars) and quantity purchased.
- The purchase price column is derived from purchase_prices table, which provides product-wise actual and purchase prices.
- The combination of vendor and brand is unique in purchases table.
- The vendor_invoice table aggregrates data from purchases table, summarizing quantity and dollar amounts, along with additional column for freight. This table maintains uniqueness based on vendor and PO number.
- The Sales table captures actual sales transactions, detailing the brand purchased by vendor, quantity sold, selling price, revenue earned.

-----------------------

As the data, we need to analysis is distributed in different tables, we need to create summary table containing:
- purchase transactions made by vendor
- sales transaction data
- freight costs for each vendor
- actual product prices from vendor

In [8]:
freight_summary = pd.read_sql_query("SELECT VendorNumber, SUM(Freight) as 'Freight Cost' FROM vendor_invoice GROUP BY VendorNumber", conn)

In [9]:
freight_summary

     VendorNumber  Freight Cost
0             105         62.39
1            4466        793.91
2             388        211.74
3             480      89286.27
4             516       8510.41
..            ...           ...
121        201359          0.09
122          4901          0.72
123         90059         74.84
124          5083         10.68
125            54          0.48

[126 rows x 2 columns]

##### purchase Price, Actual Price, Total Purchase Quantity and Total Purchase Dollar

In [10]:
pd.read_sql_query("""SELECT p.VendorNumber, p.VendorName, p.Brand, 
SUM(p.PurchasePrice),
SUM(p.Quantity) AS 'TotalQuantity',
SUM(p.Dollars) AS 'TotalPurchaseDollar',
SUM(pp.Volume),
SUM(pp.Price) AS 'Actual Price'
FROM
purchases p
INNER JOIN purchase_prices pp
ON p.Brand = pp.Brand
WHERE p.PurchasePrice > 0
GROUP BY p.VendorNumber, p.VendorName, p.Brand
ORDER BY TotalPurchaseDollar""", conn)

,VendorNumber,VendorName,Brand,SUM(p.PurchasePrice),TotalQuantity,TotalPurchaseDollar,SUM(pp.Volume),Actual Price
0,7245,PROXIMO SPIRITS INC.,3065,0.71,1.0,0.71,50.0,0.99
1,3960,DIAGEO NORTH AMERICA INC,6127,1.47,1.0,1.47,200.0,1.99
2,3924,HEAVEN HILL DISTILLERIES,9123,0.74,2.0,1.48,50.0,0.99
3,8004,SAZERAC CO INC,5683,0.39,6.0,2.34,50.0,0.49
4,9815,WINE GROUP INC,8527,1.32,2.0,2.64,750.0,4.99
...,...,...,...,...,...,...,...,...
10687,3960,DIAGEO NORTH AMERICA INC,3545,138476.14,138109.0,3023206.01,11070500.0,189716.74
10688,3960,DIAGEO NORTH AMERICA INC,4261,109535.58,201682.0,3261197.94,11854500.0,155734.26
10689,17035,PERNOD RICARD USA,8068,134228.16,187407.0,3418303.68,12878250.0,183901.41
10690,4425,MARTIGNETTI COMPANIES,3405,150874.14,164038.0,3804041.22,11385500.0,188608.94
10691,1128,BROWN-FORMAN CORP,1233,172961.68,145080.0,3811251.60,11522000.0,243542.16

In [11]:
pd.read_sql_query("""SELECT VendorNo, Brand, 
SUM(SalesDollars) AS 'TotalSalesDollars',
SUM(SalesPrice) AS 'Total Sales Price',
SUM(SalesQuantity) AS 'Total Sales Quantity',
SUM(ExciseTax) AS 'Total Excixe Tax'
FROM
sales
GROUP BY VendorNo, Brand
ORDER BY TotalSalesDollars""", conn)

,VendorNo,Brand,TotalSalesDollars,Total Sales Price,Total Sales Quantity,Total Excixe Tax
0,8004,5287,9.800000e-01,0.98,2.0,0.10
1,9206,2773,9.900000e-01,0.99,1.0,0.05
2,3252,3933,1.980000e+00,0.99,2.0,0.10
3,10050,3623,1.980000e+00,1.98,2.0,0.10
4,3924,9123,1.980000e+00,0.99,2.0,0.10
...,...,...,...,...,...,...
11267,3960,3545,4.223108e+06,545778.28,135838.0,249587.83
11268,3960,4261,4.475973e+06,420050.01,200412.0,368242.80
11269,17035,8068,4.538121e+06,461140.15,187140.0,343854.07
11270,4425,3405,4.819073e+06,561512.37,160247.0,294438.66
11271,1128,1233,5.101920e+06,672819.31,142049.0,260999.20

In [12]:
vendor_sales_summary = pd.read_sql_query("""
WITH FreightSummary AS (
    SELECT VendorNumber, SUM(Freight) as 'FreightCost' FROM vendor_invoice GROUP BY VendorNumber
),

PurchaseSummary AS (
    SELECT p.VendorNumber, p.VendorName, p.Brand, p.Description
    p.PurchasePrice,
    SUM(p.Quantity) AS 'TotalPurchaseQuantity',
    SUM(p.Dollars) AS 'TotalPurchaseDollar',
    pp.Volume,
    pp.Price AS 'ActualPrice'
    FROM
    purchases p
    INNER JOIN purchase_prices pp
    ON p.Brand = pp.Brand
    WHERE p.PurchasePrice > 0
    GROUP BY p.VendorNumber, p.VendorName, p.Description, p.Brand, p.PurchasePrice, pp.Price, pp.Volume
), 

SalesSummary AS (
    SELECT VendorNo, Brand, 
    SUM(SalesDollars) AS 'TotalSalesDollars',
    SUM(SalesPrice) AS 'TotalSalesPrice',
    SUM(SalesQuantity) AS 'TotalSalesQuantity',
    SUM(ExciseTax) AS 'TotalExcixeTax'
    FROM
    sales
    GROUP BY VendorNo, Brand
)

SELECT 
ps.VendorNumber,
ps.VendorName,
ps.Brand,
ps.PurchasePrice,
ps.ActualPrice,
ps.Volume,
ps.TotalPurchaseQuantity,
ps.TotalPurchaseDollar,
ss.TotalSalesQuantity,
ss.TotalSalesDollars,
ss.TotalSalesPrice,
ss.TotalExcixeTax,
fs.FreightCost
FROM PurchaseSummary ps
LEFT JOIN SalesSummary ss
ON ps.VendorNumber = ss.VendorNo
AND ps.Brand = ss.Brand
LEFT JOIN FreightSummary fs
ON ps.VendorNumber = fs.VendorNumber
ORDER BY ps.TotalPurchaseDollar DESC
""", conn)

In [13]:
vendor_sales_summary

,VendorNumber,VendorName,Brand,PurchasePrice,ActualPrice,Volume,TotalPurchaseQuantity,TotalPurchaseDollar,TotalSalesQuantity,TotalSalesDollars,TotalSalesPrice,TotalExcixeTax,FreightCost
0,1128,BROWN-FORMAN CORP,1233,26.27,36.99,1750,145080.0,3811251.60,142049.0,5.101920e+06,672819.31,260999.20,68601.68
1,4425,MARTIGNETTI COMPANIES,3405,23.19,28.99,1750,164038.0,3804041.22,160247.0,4.819073e+06,561512.37,294438.66,144929.24
2,17035,PERNOD RICARD USA,8068,18.24,24.99,1750,187407.0,3418303.68,187140.0,4.538121e+06,461140.15,343854.07,123780.22
3,3960,DIAGEO NORTH AMERICA INC,4261,16.17,22.99,1750,201682.0,3261197.94,200412.0,4.475973e+06,420050.01,368242.80,257032.07
4,3960,DIAGEO NORTH AMERICA INC,3545,21.89,29.99,1750,138109.0,3023206.01,135838.0,4.223108e+06,545778.28,249587.83,257032.07
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10687,9815,WINE GROUP INC,8527,1.32,4.99,750,2.0,2.64,5.0,1.595000e+01,10.96,0.55,27100.41
10688,8004,SAZERAC CO INC,5683,0.39,0.49,50,6.0,2.34,134.0,6.566000e+01,1.47,7.04,50293.62
10689,3924,HEAVEN HILL DISTILLERIES,9123,0.74,0.99,50,2.0,1.48,2.0,1.980000e+00,0.99,0.10,14069.87
10690,3960,DIAGEO NORTH AMERICA INC,6127,1.47,1.99,200,1.0,1.47,72.0,1.432800e+02,77.61,15.12,257032.07
10691,7245,PROXIMO SPIRITS INC.,3065,0.71,0.99,50,1.0,0.71,86.0,8.514000e+01,33.66,4.46,38994.78

This query generates a vendor wise sales and purchase summary, which is valuable for:

- helps in analyzing sales, purchases and pricing for different vendors and brands.
- Future benefits of storing this data for faster Dashboarding and Reporting.
- Instead of running expensive queries each time, dashboards can fetch data quickly from vendor_sales_summary.

In [14]:
vendor_sales_summary.isnull().sum()

VendorNumber               0
VendorName                 0
Brand                      0
PurchasePrice              0
ActualPrice                0
Volume                     0
TotalPurchaseQuantity      0
TotalPurchaseDollar        0
TotalSalesQuantity       178
TotalSalesDollars        178
TotalSalesPrice          178
TotalExcixeTax           178
FreightCost                0
dtype: int64

In [15]:
vendor_sales_summary.dtypes

VendorNumber               int64
VendorName                object
Brand                      int64
PurchasePrice            float64
ActualPrice              float64
Volume                    object
TotalPurchaseQuantity    float64
TotalPurchaseDollar      float64
TotalSalesQuantity       float64
TotalSalesDollars        float64
TotalSalesPrice          float64
TotalExcixeTax           float64
FreightCost              float64
dtype: object

In [16]:
print("Unique Count in Vendor Name is :", vendor_sales_summary['VendorName'].nunique())
vendor_sales_summary['VendorName'].unique()

Unique Count in Vendor Name is : 129

array(['BROWN-FORMAN CORP          ', 'MARTIGNETTI COMPANIES',
       'PERNOD RICARD USA          ', 'DIAGEO NORTH AMERICA INC   ',
       'BACARDI USA INC            ', 'JIM BEAM BRANDS COMPANY    ',
       'MAJESTIC FINE WINES        ', 'ULTRA BEVERAGE COMPANY LLP ',
       'STOLI GROUP,(USA) LLC      ', 'PROXIMO SPIRITS INC.       ',
       'MOET HENNESSY USA INC      ', 'CAMPARI AMERICA            ',
       'SAZERAC CO INC             ', 'CONSTELLATION BRANDS INC   ',
       'M S WALKER INC             ', 'SAZERAC NORTH AMERICA INC. ',
       'PALM BAY INTERNATIONAL INC ', 'REMY COINTREAU USA INC     ',
       'SIDNEY FRANK IMPORTING CO  ', 'E & J GALLO WINERY         ',
       'WILLIAM GRANT & SONS INC   ', 'HEAVEN HILL DISTILLERIES   ',
       'DISARONNO INTERNATIONAL LLC', 'EDRINGTON AMERICAS         ',
       'CASTLE BRANDS CORP.        ', 'SOUTHERN WINE & SPIRITS NE ',
       'STE MICHELLE WINE ESTATES  ', 'TRINCHERO FAMILY ESTATES   ',
       'MHW LTD                    ', 'WINE GROUP INC             ',
       'PERFECTA WINES             ', 'LUXCO INC                  ',
       'TREASURY WINE ESTATES      ', 'DIAGEO CHATEAU ESTATE WINES',
       'SHAW ROSS INT L IMP LTD    ', 'PINE STATE TRADING CO      ',
       'PHILLIPS PRODUCTS CO.      ', 'CALEDONIA SPIRITS INC      ',
       'STATE WINE & SPIRITS   ', 'KOBRAND CORPORATION        ',
       'BANFI PRODUCTS CORP        ', 'VINEYARD BRANDS INC        ',
       'DELICATO VINEYARDS INC     ', 'FABRIZIA SPIRITS LLC       ',
       'DUGGANS DISTILLED PRODUCTS ', 'Serralles Usa LLC          ',
       'SEA HAGG DISTILLERY LLC    ', 'OLE SMOKY DISTILLERY LLC   ',
       'VRANKEN AMERICA            ', 'KLIN SPIRITS LLC           ',
       'LAIRD & CO                 ', 'ADAMBA IMPORTS INTL INC    ',
       'LATITUDE BEVERAGE COMPANY  ', 'FREDERICK WILDMAN & SONS   ',
       'MCCORMICK DISTILLING CO    ', 'CHARLES JACQUIN ET CIE INC ',
       'WESTERN SPIRITS BEVERAGE CO', 'MARSALLE COMPANY           ',
       'AMERICAN VINTAGE BEVERAGE  ', 'MANGO BOTTLING INC         ',
       'SWEET BABY VINEYARD        ', 'NICHE W & S                ',
       'LABELLE VYDS AND WINERY    ', 'FLAG HILL WINERY & VINEYARD',
       'SMOKY QUARTZ DISTILLERY LLC', 'PREMIUM PORT WINES, INC.   ',
       'Russian Standard Vodka     ', 'Dunn Wine Brokers          ',
       'WEIN BAUER INC             ', 'BULLY BOY DISTILLERS       ',
       'ATLANTIC IMPORTING COMPANY ', 'PREMIER DISTRIBUTORS       ',
       'VINILANDIA USA             ', 'PARK STREET IMPORTS LLC    ',
       'TAKARA SAKE USA INC        ', 'SEA BREEZE CELLARS LLC     ',
       'STARK BREWING COMPANY      ', 'TY KU LLC                  ',
       'PSP WINES ', 'TAMWORTH DISTILLING        ',
       'ZORVINO VINEYARDS          ', 'SOUTHERN GLAZERS W&S OF NE ',
       'HOOD RIVER DISTILLERS, Inc.', 'CRUSH WINES                ',
       'POVERTY LANE ORCHARDS      ', 'DJINN SPIRITS LLC          ',
       'MOONLIGHT MEADERY          ', 'TALL SHIP DISTILLERY LLC   ',
       'FORTUNE WINE BROKERS LLC   ', 'BLACK COVE BEVERAGES       ',
       'VINEXTRA INC               ', 'SURVILLE ENTERPRISES CORP  ',
       'JEWELL TOWNE VINEYARDS     ', 'SWEETWATER FARM         ',
       'MARTIGNETTI COMPANIES ', 'ALTAMAR BRANDS LLC         ',
       'CANDIA VINEYARDS           ', 'INCREDIBREW INC            ',
       'ALISA CARR BEVERAGES           ', 'STELLAR IMPORTING CO LLC   ',
       'FULCHINO VINEYARD INC      ',
       'IRA GOLDMAN AND WILLIAMS, LLP          ',
       'Circa Wines                ', 'VINEDREA WINES LLC         ',
       'BLACK PRINCE DISTILLERY INC', 'VINEYARD BRANDS LLC        ',
       'THE IMPORTED GRAPE LLC     ', 'WALPOLE MTN VIEW WINERY    ',
       'GILMANTON WINERY & VINEYARD', 'HAUNTING WHISPER VYDS      ',
       'STAR INDUSTRIES INC.       ', 'LOYAL DOG WINERY           ',
       'R.P.IMPORTS INC            ', 'THE PIERPONT GROUP LLC     ',
       'APPOLO VINEYARDS LLC       ', 'BLACK ROCK SPIRITS LLC     ',
       'CENTEUR IMPORTS LLC        ', 'HIGHLAND WINE MERCHANTS LLC',
       'AMERICAN SPIRITS EXCHANGE  ', 'UNCORKED       ',
       'BRONCO WINE COMPANY        ', 'MILTONS DISTRIBUTING CO    ',
       'TRUETT HURST               ', 'LAUREATE IMPORTS CO        ',
       'FANTASY FINE WINES CORP    ', 'AAPER ALCOHOL & CHEMICAL CO',
       'SILVER MOUNTAIN CIDERS     ', 'CAPSTONE INTERNATIONAL     ',
       'FLAVOR ESSENCE INC         '], dtype=object)

- problem is Missing values in :
    - TotalSalesQuantity
    - TotalSalesDollars      
    - TotalSalesPrice        
    - TotalExcixeTax
- Missing value is above columns means prodcust were buyed BUT were not sell yet.

- Data type of Volume is Object, It should be float.

- We have to remove white spaces in vendor Name (i.e., strip)

In [17]:
vendor_sales_summary['Volume'] = vendor_sales_summary['Volume'].astype('float64')

In [18]:
vendor_sales_summary.fillna(0, inplace=True)

In [19]:
vendor_sales_summary['VendorName'] = vendor_sales_summary['VendorName'].str.strip()

In [20]:
vendor_sales_summary['GrossProfit'] = vendor_sales_summary['TotalSalesDollars'] - vendor_sales_summary['TotalPurchaseDollar']

In [21]:
vendor_sales_summary['GrossProfit'].min()

# So, some vendors have Gross Profit in Negative. It has a Loss repoerted.

np.float64(-52002.78000000001)

In [22]:
vendor_sales_summary['ProfitMargin'] = (vendor_sales_summary['GrossProfit'] / vendor_sales_summary['TotalSalesDollars']) * 100

In [23]:
vendor_sales_summary['StockTurnover'] = vendor_sales_summary['TotalSalesQuantity'] / vendor_sales_summary['TotalPurchaseQuantity']

In [24]:
vendor_sales_summary['SalesToPurchaseratio'] = vendor_sales_summary['TotalSalesDollars'] / vendor_sales_summary['TotalPurchaseDollar']

##### Added 4 new columns [GrossProfit, ProfitMargin, StockTurnover and SalesToPurchaseratio] in df

In [25]:
vendor_sales_summary.dtypes

VendorNumber               int64
VendorName                object
Brand                      int64
PurchasePrice            float64
ActualPrice              float64
Volume                   float64
TotalPurchaseQuantity    float64
TotalPurchaseDollar      float64
TotalSalesQuantity       float64
TotalSalesDollars        float64
TotalSalesPrice          float64
TotalExcixeTax           float64
FreightCost              float64
GrossProfit              float64
ProfitMargin             float64
StockTurnover            float64
SalesToPurchaseratio     float64
dtype: object

In [26]:
vendor_sales_summary.head()

,VendorNumber,VendorName,Brand,PurchasePrice,ActualPrice,Volume,TotalPurchaseQuantity,TotalPurchaseDollar,TotalSalesQuantity,TotalSalesDollars,TotalSalesPrice,TotalExcixeTax,FreightCost,GrossProfit,ProfitMargin,StockTurnover,SalesToPurchaseratio
0,1128,BROWN-FORMAN CORP,1233,26.27,36.99,1750.0,145080.0,3811251.60,142049.0,5.101920e+06,672819.31,260999.20,68601.68,1290667.91,25.297693,0.979108,1.338647
1,4425,MARTIGNETTI COMPANIES,3405,23.19,28.99,1750.0,164038.0,3804041.22,160247.0,4.819073e+06,561512.37,294438.66,144929.24,1015032.27,21.062810,0.976890,1.266830
2,17035,PERNOD RICARD USA,8068,18.24,24.99,1750.0,187407.0,3418303.68,187140.0,4.538121e+06,461140.15,343854.07,123780.22,1119816.92,24.675786,0.998575,1.327594
3,3960,DIAGEO NORTH AMERICA INC,4261,16.17,22.99,1750.0,201682.0,3261197.94,200412.0,4.475973e+06,420050.01,368242.80,257032.07,1214774.94,27.139908,0.993703,1.372493
4,3960,DIAGEO NORTH AMERICA INC,3545,21.89,29.99,1750.0,138109.0,3023206.01,135838.0,4.223108e+06,545778.28,249587.83,257032.07,1199901.61,28.412764,0.983556,1.396897

In [27]:
pd.read_sql_query("SELECT * FROM vendor_sales_summary", conn)

,VendorNumber,VendorName,Brand,PurchasePrice,ActualPrice,Volume,TotalPurchaseQuantity,TotalPurchaseDollar,TotalSalesQuantity,TotalSalesDollars,TotalSalesPrice,TotalExcixeTax,FreightCost,GrossProfit,ProfitMargin,StockTurnover,SalesToPurchaseratio
0,1128,BROWN-FORMAN CORP,1233,26.27,36.99,1750.0,145080,3811251.60,142049,5.101920e+06,672819.31,260999.20,68601.68,1290667.91,25.297693,0.979108,1.338647
1,4425,MARTIGNETTI COMPANIES,3405,23.19,28.99,1750.0,164038,3804041.22,160247,4.819073e+06,561512.37,294438.66,144929.24,1015032.27,21.062810,0.976890,1.266830
2,17035,PERNOD RICARD USA,8068,18.24,24.99,1750.0,187407,3418303.68,187140,4.538121e+06,461140.15,343854.07,123780.22,1119816.92,24.675786,0.998575,1.327594
3,3960,DIAGEO NORTH AMERICA INC,4261,16.17,22.99,1750.0,201682,3261197.94,200412,4.475973e+06,420050.01,368242.80,257032.07,1214774.94,27.139908,0.993703,1.372493
4,3960,DIAGEO NORTH AMERICA INC,3545,21.89,29.99,1750.0,138109,3023206.01,135838,4.223108e+06,545778.28,249587.83,257032.07,1199901.61,28.412764,0.983556,1.396897
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10687,9815,WINE GROUP INC,8527,1.32,4.99,750.0,2,2.64,5,1.595000e+01,10.96,0.55,27100.41,13.31,83.448276,2.500000,6.041667
10688,8004,SAZERAC CO INC,5683,0.39,0.49,50.0,6,2.34,134,6.566000e+01,1.47,7.04,50293.62,63.32,96.436186,22.333333,28.059829
10689,3924,HEAVEN HILL DISTILLERIES,9123,0.74,0.99,50.0,2,1.48,2,1.980000e+00,0.99,0.10,14069.87,0.50,25.252525,1.000000,1.337838
10690,3960,DIAGEO NORTH AMERICA INC,6127,1.47,1.99,200.0,1,1.47,72,1.432800e+02,77.61,15.12,257032.07,141.81,98.974037,72.000000,97.469388
10691,7245,PROXIMO SPIRITS INC.,3065,0.71,0.99,50.0,1,0.71,86,8.514000e+01,33.66,4.46,38994.78,84.43,99.166079,86.000000,119.915493

In [28]:
engine = create_engine("mysql+pymysql://root:Root123@localhost/inventoryvendordb")
conn = engine.connect()

In [ ]:
# Optional: Fill NaNs with 0 (or another appropriate value)
vendor_sales_summary.fillna(0, inplace=True)

In [ ]:
# vendor_sales_summary.to_sql(name='vendor_sales_summary',con=conn, if_exists='replace', index=False )

In [30]:
# vendor_sales_summary["TotalSalesQuantity"] = vendor_sales_summary["TotalSalesQuantity"].astype(int)
# vendor_sales_summary["TotalPurchaseQuantity"] = vendor_sales_summary["TotalPurchaseQuantity"].astype(int)

In [ ]:
# vendor_sales_summary.replace([np.inf, -np.inf], np.nan, inplace=True)

In [38]:
# inf_rows = vendor_sales_summary[(vendor_sales_summary == np.inf).any(axis=1) | (vendor_sales_summary == -np.inf).any(axis=1)]

# print(inf_rows)

Empty DataFrame
Columns: [VendorNumber, VendorName, Brand, PurchasePrice, ActualPrice, Volume, TotalPurchaseQuantity, TotalPurchaseDollar, TotalSalesQuantity, TotalSalesDollars, TotalSalesPrice, TotalExcixeTax, FreightCost, GrossProfit, ProfitMargin, StockTurnover, SalesToPurchaseratio]
Index: []

In [32]:
import pymysql

In [47]:
vendor_sales_summary.to_sql(
    name='vendor_sales_summary',
    con=engine,
    if_exists='replace',   # Options: 'replace', 'append', 'fail'
    index=False,
    method='multi',        # Send multiple rows per INSERT
    chunksize=1000         # Insert 1000 rows at a time
)

print("Data written to 'vendor_sales_summary' successfully!")

Data written to 'vendor_sales_summary' successfully!

In [45]:
import numpy as np

vendor_sales_summary.replace([np.inf, -np.inf], np.nan, inplace=True)

In [46]:
vendor_sales_summary.isnull().sum()
vendor_sales_summary.fillna(0, inplace=True)

In [42]:
(vendor_sales_summary['TotalSalesDollars'] == 0).sum()

np.int64(178)